main#index {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    flex: 1;
}

main#index article {
    display: flex;
    align-items: center;
    padding: 40px;
    border-top: 8px solid #888;
}

main#index article:first-child {
    border-top: none;
}

main#index article img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

main#index article section {
    margin-left: 35px;
}

main#index article section h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

main#index article section p {
    line-height: 1.6;
}

main#index article:nth-child(2) {
    flex-direction: row-reverse;
}

main#index article:nth-child(2) section {
    margin-left: 0;
    margin-right: 35px;
}